@font-face {
  font-family: 'insungitCutelivelyjisu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SDMiSaeng';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.pro3 {
  padding : 0;
  margin : 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F1F1E6;
}

body {
  margin : 0;
  background-color : #263343; 
  font-family:'insungitCutelivelyjisu' ;
}

header {
  height:120px;
  /* border : 1px red solid; */
}

header .top {
  display: flex;
  justify-content: space-between;
  /* font-family: 'insungitCutelivelyjisu'; */
  color: #F1F1E6;
  margin-top: 20px;
  margin-bottom: 50px;
}

header .logo{
  margin-left:40px;
}

header .logoimg {
  width : 150px;
  height: 80px;
}

header .topmenu {
  display : flex;
  /* border : 1px red solid; */
  width: 600px;
  height: fit-content;
}

header .topmenu li:hover {
  color : #CE9EAD;
  border-radius: 4px;
}

header .topmenu li {
  margin : 10px;
  padding : 10px;
  font-size: 25px;
  width : 120px;
  height: fit-content;
  text-align: center;
}

header .rightmenu {
  display : flex;
  width:fit-content;
  /* border : 1px red solid; */
}

header .rightmenu li {
  padding : 10px;
  font-size: 20px;
  width: 80px;
  height: fit-content; 
}

header .rightmenu li:hover {
  color : #CE9EAD;
  border-radius: 4px;
}

main {
margin: 0 auto;
width: 1400px;
}

main .imgbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 500px;
  grid-gap: 1rem;
}

main .imgbox img {
  width : 100%;
  height : 100%;
  object-fit: cover;
}


main .box1text {
  height : 100px;
}

main .box2 {
  background-image: url("img/데미안.png");
  background-size: 100% 100%;
}

main .box3 {
  background-image: url("img/해빗.png");
  background-size: 100% 100%;
}

main .box4 {
  background-image: url("img/눈먼자들의\ 도시.png");
  background-size: 100% 100%;
}

main .box5 {
  background-image: url("img/아버지의\ 해방일지.png");
  background-size: 100% 100%;
}

main .box6 {
  background-image: url("img/지구가\ 평평하다고\ 믿는\ 삶과\ 즐겁고\ 생산적인\ 대화를\ 나누는법.png");
  background-size: 100% 100%;
}

main .box7 {
  background-image: url("img/제인에어.png");
  background-size: 100% 100%;
}

main .box8 {
  background-image: url("img/소년이온다.png");
  background-size: 100% 100%;
}

main .box9 {
  background-image: url("img/밝은밤.png");
  background-size: 100% 100%;
}

main .box10 {
  background-image: url("img/물고기는\ 존재하지\ 않는다.png");
  background-size: 100% 100%;
}

main .box11 {
  background-image: url("img/모모.png");
  background-size: 100% 100%;
}


main .imgbox .text {
  font-size: 25px;
  /* font-family: 'insungitCutelivelyjisu'; */
  color :  #F1F1E6;
  text-align: center;
  line-height: 450px;
  opacity: 0;
  background-color: #26334398;
  margin: 0px;
  width: 100%;
  height: 100%;
  
}

main .imgbox .text:hover{
  opacity: 1;
}

main .box1 input {
  width : 200px;
  height: 50px;
  /* font-family: 'insungitCutelivelyjisu'; */
  font-size: 15px;
  text-align: center;
  background-color: #263343; 
  border-style: none;
  border-bottom: 2px solid  #F1F1E6;
  line-height: 10px;
}

main .box1 button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /* font-family: 'insungitCutelivelyjisu'; */
  background-color: #263343; 
  border: 2px solid  #F1F1E6;
  color: #F1F1E6;
  margin-left: 20px;
}

main .box1 {
  border-top : 2px solid  #F1F1E6;
  border-bottom : 2px solid  #F1F1E6;
  /* font-family: 'insungitCutelivelyjisu'; */
  color : #FFEDCB;
  height: 300px;
  margin-top: 100px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
}

main .box12 {
  border-top : 2px solid  #F1F1E6;
  border-bottom : 2px solid  #F1F1E6;
  /* font-family: 'insungitCutelivelyjisu'; */
  color : #FFEDCB;
  height: 300px;
  margin-top: 100px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
}

main .box12text{

  height: 100px;
  align-items: center;
}

main .box12text2{
  border-bottom: 2px solid #F1F1E6;
  height: 100px;
  width: fit-content;
  margin: auto;
}

main .sub1title {
  display: flex;
  color : #F1F1E6;
  /* font-family: 'insungitCutelivelyjisu'; */
  font-size: 30px;
} 

main .sub1title .sub1img {
  width : 100px;
  border-left : 2px #F1F1E6 solid;
  padding-left: 20px;
}

main .sub1title .sub1text {
  height: 100px;
  line-height: 100px;
  margin-left: 20px;
}

/*
main .submain {
  margin-top: 50px;
  display : grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill , minmax(220px,3fr));
  grid-auto-rows: 300px;
  grid-gap: 5rem;
}
*/

main .submain .b1 {
  width : 100%;
  height : 100%;
  border-radius: 20px;
  background-color: #d9f3ffc2;
  text-align: center;
} 

main .submain .b1:hover{
  background-color:#CE9EAD;
}

main .submain .e1 {
  width : 300px;
  height : 200px;
  margin-top: 30px;
} 

main .submain {
    margin-top: 50px;
    display : grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 5rem;
  } 

main .submain .t1 {
    margin-top: 10px;
    font-size: 25px;
    color: #263343;
  } 

  

  #login_title {
    width: 500px;
    display: flex;
    margin-left: 550px;
  }

  #login_title img{
    width: 80px;
    height: 70px;
    margin-left: 30px;
  }

  #login_box h2{

    font-size: 30px;
    margin-left: 30px;
  }

  #login_box {
    text-align: center;
    color: #F1F1E6;
  }

  #id_pass, #login_btn {  
    display: inline-block;
    vertical-align: top ;        
  }

  #id_pass span {
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
  }

  #id_pass input {
    height: 25px;
    border-radius: 10px;
    vertical-align:middle;
    font-family:'insungitCutelivelyjisu';
  }

  #id_pass li {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 50px;
  }

  #login_btn button {
    width: 80px;
    height: 50px;
    font-size: 20px;
    font-family:'insungitCutelivelyjisu';
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #CE9EAD;
  }

  #btns li {
    display : inline;
  }

  #btns #id_pass2 {
    margin-left: 20px;
  }


  main .form {
    color: #F1F1E6;
  }

  .formtitle {
    margin-left: 500px;
  }

  .formtitle img{
    width: 80px;
    height: 70px;
    margin-left: 30px;
  }

  .formmain {
    width: 500px;
    margin-left: 500px;
  }
  
  .formmain li {
    margin-bottom: 10px;
  }

  .formmain #id0 {
    margin-right: 30px;
  }

  .formmain #id1 {
    margin-right: 42px;
  }

  .formmain #id2 {
    margin-right: 10px;
  }

  .formmain #id3 {
    margin-right: 20px;
  }

  .formmain #id4 {
    margin-left: 120px;
  }

  .formmain input {
    font-family:'insungitCutelivelyjisu';
  }

  .formtitle h2{

    font-size: 30px;
    margin-left: 30px;
  }

  .formtitle {
    display: flex;
  }

.submain3 .leftbox img {
  margin-top: 50px;
  width : 400px
}

.submain3 {
  display:grid;
  grid-template-columns: repeat(3 , 1fr);
}

.submain3 .midboxtitle {
  margin-top: 50px;
  color :#F1F1E6;
  font-size: 30px;
  border-bottom: 2px solid #F1F1E6 ;
  width: 400px;
  padding-bottom: 20px;
}

.submain3 .midt {
  font-size: 25px;
  color :#D9F3FF;
  margin-top: 20px;
  border-left: 2px solid #F1F1E6;
  padding-left: 20px;
  margin-bottom: 20px;
}

.submain3 .mid2 {
  margin-top: 50px;
}

.submain3 .midcon2 {
  color :#F1F1E6;
  font-size: 20px;
  word-spacing: 5px;
  padding-right: 30px;
}
.submain3 .rightbox {
margin-top: 50px;
  
}

.submain3 .comment1 {
  color: #F1F1E6;
  margin-top: 20px;
  font-family: 'SDMiSaeng';
  font-size: 25px;
}
.submain3 .rightbox textarea{
  border-radius: 10px;
  width: 380px;
}


.submain3 .rightbox button{
  width: 70px;
  height: 80px;
  margin: 0;
  vertical-align: top;
  margin-left: 8px;
  background-color:#CE9EAD;
  border-radius: 10px;
  border-style: none;
}

footer #bottom {
  margin-top: 50px;
  display: flex;
  min-width: 400px;
  justify-content: space-between;
  align-items: cneter;
  padding : 8px 12px;
  border-top: 1px solid #F1F1E6;
}

footer #logoimg {
width: 200px;
margin-left: 100px;
}

footer #mob {
margin-right: 100px;
}

footer #mob ul{
display: flex;
}


footer #mob ul li{
margin: 10px;
}


footer #custom {
/* font-family: 'insungitCutelivelyjisu'; */
color: #D9F3FF;
}

footer #custom ul li {
margin-top: 10px;
width : 250px;

}

footer #mob img {
width: 50px;
}